<div class="row">
	<p>
		<b>From:</b> {{mail.attributes.from}}
	</p>
	<p>
		<b>To:</b> {{mail.attributes.to}}
	</p>
	<p>
		<b>Title:</b> {{mail.attributes.title}}
	</p>
	<p>
		<span>{{mail.attributes.content}}</span>
	</p>
</div>